* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.blog-container {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0,1);
    background-color: #fff;
}
.blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.blog-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.blog-content {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}