* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    width: 600px;
    height: 400px;
    background-color: gray;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home {
    width: 200px;
    height: 130px;
    background-color: #ffebcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid orange;
}
.box {
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}
.box:nth-child(1) { background-color: green; top: 50%; left: 50%; transform: translateX(-50%); }
.box:nth-child(2) { background-color: deepskyblue; top: 30%; right: 10%; }
.box:nth-child(3) { background-color: darkred; top: 60%; right: 10%;}
.box:nth-child(4) { background-color: darkmagenta; bottom: 20%; left: 40%; transform: translateX(-50); }
.box:nth-child(5) { background-color: blue; top: 60%; left: 10%; }
.box:nth-child(6) { background-color: greenyellow; top: 30%; left: 10%; }
.box:nth-child(7) { background-color: blueviolet; bottom: 60%; left: 40%; transform: translateY(-70%); }